# Byte-compiled files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Virtual environment
venv/
venv.bak/
.env

# IDE Specific
.vscode/
.idea/